@font-face {
  font-family: "Consolas";
  src: url("../assets/Consolas.ttf");
}

* {
  font-family: "Consolas";
  font-size: 1.5vw;
  margin: 1vw;

  background-color: #111111;
  color: #eeeeee;

  padding: 0;
}

.white-background {
  background: #eeeeee;
  color: #111111;
}

input,
input:focus {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;

  background: none;
  color: #111111;
  border: none;
}

@media only screen and (orientation: portrait) {
    *{
        font-size: 2vw;
    }
}
